<div class="navbarContainer">
    <div class="navbar">
        <div class="navbarContainerIcons">
            <h3>
                Emali
            </h3>
        </div>
        <div class="navbarContainerRight">
            <!-- <a routerLink="/our-solution">our-solution</a> -->
            <p class="hClick navbarContainerItem" routerLink="/our-solution">Our solution</p>
            <p class="hClick navbarContainerItem" routerLink="/about-us">About us</p>
            <p class="hClick navbarContainerItem" routerLink="/contact-us">Contact us</p>
        </div>
    </div>
</div>